:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    margin: 0 3rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 0 8rem;
  }
}

.header__blackout {
  height: 100vh;
  width: 100%;
  z-index: 7;
  opacity: 0;
  visibility: hidden;
  background-color: #292929;
  -webkit-transition: opacity 0.25s linear, visibility 0.25s linear;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  position: fixed;
  top: 0;
  left: 0;
}

.header__blackout.active {
  opacity: 0.6;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 1rem;
  z-index: 10;
  background-color: #fff;
  width: 90rem;
}

.modal .slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem #f1cdb3;
          box-shadow: inset 0 0 0 0.3rem #f1cdb3;
  border-radius: 100%;
  padding: 1.9rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  right: -4.2rem;
  top: -5.2rem;
}

.modal .slider-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fddcc4;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-body__wrapper {
  width: 39.8rem;
  padding: 5rem 2rem 0 2.9rem;
}

.modal-body__img {
  width: 50rem;
  height: 50rem;
}

.modal-body__img img {
  display: block;
  width: 100%;
  border-radius: 0 0 0.9rem 0.9rem;
}

.modal-body__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.modal-body__type {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.modal-body__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
}

.modal-body__info {
  font-size: 1.5rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: opacity 0.25s linear, visibility 0.25s linear;
  transition: opacity 0.25s linear, visibility 0.25s linear;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #292929;
  pointer-events: none;
}

#overlay.active {
  opacity: 0.6;
  visibility: visible;
  pointer-events: all;
  z-index: 9;
}

.open {
  visibility: hidden;
}

.pets-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  min-height: 12rem;
  background-color: #ffffff;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pets-header {
    position: -webkit-sticky;
    position: sticky;
  }
}

.pets-header a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .pets-header {
    position: -webkit-sticky;
    position: sticky;
  }
}

.pets-header .nav {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .pets-header .nav {
    display: none;
  }
}

.pets-header .nav .nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.pets-header .nav .nav-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-header .nav .nav-list__link {
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
}

.pets-header .nav .nav-list__link_active {
  border-bottom: solid 0.3rem #f1cdb3;
}

.pets-header .nav .nav-list__link_disabled {
  color: #545454;
  cursor: pointer;
  padding-bottom: 0.3rem;
}

.main__wrapper {
  padding-top: 20rem;
  padding-bottom: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main__wrapper {
    padding-top: 7rem;
    padding-bottom: 7.6rem;
  }
}

.main-pets__title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.main-pets__title span {
  display: block;
}

.main-pets-cards {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 3rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main-pets-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

.main-paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main-paginations {
    margin-top: 4rem;
  }
}

@media (max-width: 767px) {
  .main-paginations {
    margin-top: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.main-paginations__button {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem #f1cdb3;
          box-shadow: inset 0 0 0 0.3rem #f1cdb3;
  border-radius: 100%;
  padding: 1.9rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.main-paginations__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fddcc4;
}

@media (max-width: 767px) {
  .main-paginations__button {
    font-size: 1rem;
    padding: 1rem;
    width: 2.6rem;
    height: 2.6rem;
    margin: 0;
    -webkit-box-shadow: inset 0 0 0 0.1rem #f1cdb3;
            box-shadow: inset 0 0 0 0.1rem #f1cdb3;
  }
}

.main-paginations__button_active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f1cdb3;
  cursor: auto;
}

.main-paginations__button_active:hover {
  background-color: #f1cdb3;
}

.main-paginations__button:disabled {
  -webkit-box-shadow: inset 0 0 0 0.3rem #cdcdcd;
          box-shadow: inset 0 0 0 0.3rem #cdcdcd;
}

@media (max-width: 767px) {
  .main-paginations__button:disabled {
    -webkit-box-shadow: inset 0 0 0 0.1rem #cdcdcd;
            box-shadow: inset 0 0 0 0.1rem #cdcdcd;
  }
}

.main-paginations__button:disabled:hover {
  -webkit-box-shadow: inset 0 0 0 0.3rem #cdcdcd;
          box-shadow: inset 0 0 0 0.3rem #cdcdcd;
  background-color: transparent;
  cursor: auto;
}

@media (max-width: 767px) {
  .main-paginations__button:disabled:hover {
    -webkit-box-shadow: inset 0 0 0 0.1rem #cdcdcd;
            box-shadow: inset 0 0 0 0.1rem #cdcdcd;
  }
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.9rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pets-card:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets-card:nth-last-child(-n+5) {
    display: none;
  }
}

.pets-card:hover {
  -webkit-box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
          box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
}

.pets-card__image {
  width: 100%;
}

.pets-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.pets-card__title {
  margin: 3rem 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

@media (max-width: 767px) {
  .pets-card__title {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
}

.pets-card__button {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 0.2rem #f1cdb3;
          box-shadow: inset 0 0 0 0.2rem #f1cdb3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pets-card__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fddcc4;
}

@media (max-width: 767px) {
  .pets-card__button {
    padding: 0.9rem 2.2rem;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.192rem;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  background: url(./assets/noise_transparent.png), radial-gradient(110% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__content {
  width: 61.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__content {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__content-img {
    padding-top: 6.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-fedback__center {
  width: 30.2rem;
  height: 23.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.footer .footer-fedback__center img {
  padding-right: 2rem;
}

.footer .footer-fedback {
  height: 23.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.footer .footer-fedback img {
  padding-right: 2rem;
}

.footer .footer-fedback__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #ffffff;
}

.footer .footer-fedback__title span {
  display: block;
}

.footer .footer-fedback__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-fedback__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #f1cdb3;
}
/*# sourceMappingURL=pets.css.map */