:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    margin: 0 3rem;
  }
}

@media (max-width: 767px) {
  .wrapper {
    margin: 0 8rem;
  }
}

.open {
  visibility: hidden;
}

.pets-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  min-height: 12rem;
  background-color: #ffffff;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pets-header {
    position: -webkit-sticky;
    position: sticky;
  }
}

.pets-header a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .pets-header {
    position: -webkit-sticky;
    position: sticky;
  }
}

.pets-header .nav {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .pets-header .nav .nav-list {
    visibility: hidden;
  }
  .pets-header .nav .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .pets-header .nav .hamburger:hover {
    opacity: 0.7;
  }
  .pets-header .nav .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .pets-header .nav .hamburger.is-active .hamburger-inner,
  .pets-header .nav .hamburger.is-active .hamburger-inner::before,
  .pets-header .nav .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }
  .pets-header .nav .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .pets-header .nav .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .pets-header .nav .hamburger-inner, .pets-header .nav .hamburger-inner::before, .pets-header .nav .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .pets-header .nav .hamburger-inner::before, .pets-header .nav .hamburger-inner::after {
    content: "";
    display: block;
  }
  .pets-header .nav .hamburger-inner::before {
    top: -10px;
  }
  .pets-header .nav .hamburger-inner::after {
    bottom: -10px;
  }
  .pets-header .nav .hamburger--boring .hamburger-inner, .pets-header .nav .hamburger--boring .hamburger-inner::before, .pets-header .nav .hamburger--boring .hamburger-inner::after {
    -webkit-transition-property: none;
    transition-property: none;
  }
  .pets-header .nav .hamburger--boring.is-active .hamburger-inner {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .pets-header .nav .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
  }
  .pets-header .nav .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.pets-header .nav .nav-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.pets-header .nav .nav-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets-header .nav .nav-list__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
}

.pets-header .nav .nav-list__link_active {
  border-bottom: solid 0.3rem #f1cdb3;
}

.pets-header .nav .nav-list__link_disabled {
  color: #545454;
  cursor: pointer;
  padding-bottom: 0.3rem;
}

.main__wrapper {
  padding-top: 20rem;
  padding-bottom: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main__wrapper {
    padding-top: 7rem;
    padding-bottom: 7.6rem;
  }
}

.main-pets__title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.main-pets__title span {
  display: block;
}

.main-pets-cards {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 3rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main-pets-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

.main-paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main-paginations {
    margin-top: 4rem;
  }
}

.main-paginations__button {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  -webkit-box-shadow: inset 0 0 0 0.3rem #f1cdb3;
          box-shadow: inset 0 0 0 0.3rem #f1cdb3;
  border-radius: 100%;
  padding: 1.9rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.main-paginations__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fddcc4;
}

.main-paginations__button_active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f1cdb3;
  cursor: auto;
}

.main-paginations__button_active:hover {
  background-color: #f1cdb3;
}

.main-paginations__button:disabled {
  -webkit-box-shadow: inset 0 0 0 0.3rem #cdcdcd;
          box-shadow: inset 0 0 0 0.3rem #cdcdcd;
}

.main-paginations__button:disabled:hover {
  -webkit-box-shadow: inset 0 0 0 0.3rem #cdcdcd;
          box-shadow: inset 0 0 0 0.3rem #cdcdcd;
  background-color: transparent;
  cursor: auto;
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.9rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .pets-card:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets-card:nth-last-child(-n+5) {
    display: none;
  }
}

.pets-card:hover {
  -webkit-box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
          box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
}

.pets-card__image {
  width: 100%;
}

.pets-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.pets-card__title {
  margin: 3rem 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.pets-card__button {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 0.2rem #f1cdb3;
          box-shadow: inset 0 0 0 0.2rem #f1cdb3;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pets-card__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fddcc4;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.192rem;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

.footer {
  padding-top: 4rem;
  background: url(/assets/noise_transparent.png), radial-gradient(110% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 3.1rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer a {
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
  padding-right: 16.5rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__content {
    padding-right: 0;
    margin-top: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 3.2rem;
  }
}

@media (max-width: 767px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__locations, .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__locations-title, .footer__contacts-title {
  color: #ffffff;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__locations-title span, .footer__contacts-title span {
  display: block;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__locations-title, .footer__contacts-title {
    margin-bottom: 3.2rem;
  }
}

.footer__locations-address, .footer__locations-phone, .footer__locations-mail, .footer__contacts-address, .footer__contacts-phone, .footer__contacts-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__locations-address, .footer__locations-phone, .footer__locations-mail, .footer__contacts-address, .footer__contacts-phone, .footer__contacts-mail {
    margin-bottom: 3.2rem;
  }
}

.footer__locations-address-place span, .footer__locations-phone-place span, .footer__locations-mail-place span, .footer__contacts-address-place span, .footer__contacts-phone-place span, .footer__contacts-mail-place span {
  display: block;
}

.footer__locations-address-place, .footer__locations-address-text, .footer__locations-phone-place, .footer__locations-phone-text, .footer__locations-mail-place, .footer__locations-mail-text, .footer__contacts-address-place, .footer__contacts-address-text, .footer__contacts-phone-place, .footer__contacts-phone-text, .footer__contacts-mail-place, .footer__contacts-mail-text {
  margin-left: 2rem;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}
/*# sourceMappingURL=pets.css.map */